@using Entities.Concrete
@model List<Article>
@{
    ViewData["Title"] = "ArticleListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>ArticleListByWriter</h1>
<table class="table table-bordered">
      <thead>
          <tr>
            <th>#</th>
            <th>Blog basliqi</th>
            <th>Yaradilan tarixi</th>
            <th>Kategoriya</th>
            <th>Veziyyet</th>
            <th>Sil</th>
            <th>Yenile</th>
          </tr>
      </thead>
      <tbody>
          @foreach (var item in Model)
        {
            <tr>
                <td>@item.ArticleId</td>
                <td>@item.ArticleTitle</td>
                <td>@(((DateTime)@item.ArticleCreateDate).ToString("dd-MMM-yyyy"))</td>
                <td>@item.Category.CategoryName</td>
                <td>@(item.ArticleStatus ? "aktiv" : "passiv")</td>
                <td><a href="#" class="btn btn-danger">Sil</a></td>
                <td><a href="#" class="btn btn-warning">Yenile</a></td>
            </tr>
        }
      </tbody>
</table>
<a href="#" class="btn btn-primary">Yeni Blog ELave et</a>

